{{>layout/header}}

    <h1>게시글 등록</h1>

    <div class="col-md-12">
        <div class="col-md-12">
            <form  name="excelUploadForm" method="post"  id="excelUploadForm"  enctype="multipart/form-data">
                <table class="tb" width="100%" cellpadding="0" cellspacing="0" border="1">
                    <col class="cellC" width="20%"/>
                    <col class="cellL" width="30%" />
                    <col class="cellC" width="20%"/>
                    <col class="cellL" width="30%"/>
                    <tr>
                        <td>엑셀파일선택</td>
                        <td colspan="3">
                            <input type="file" id="excelFile" name="excelFile" >
                            <a href="javascript:uploadExcel();">엑셀 등록</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

<script type="text/javascript" >

    function uploadExcel(){
        var form = document.excelUploadForm;

        if(form.excelFile.value == ""){
            alert("파일을 선택해주세요");
            return;
        }

        form.action = "/posts/addExcel";
        form.submit();
    }

</script>

{{>layout/footer}}